.dice-set {
  margin-top: 30px;
}

.dice {
  display: block;
  margin: 25px auto 0;
  padding: 0 10px;
  border: none;
  line-height: 30px;
  color: #fff;
  background-color: #9b59b6;
  border-radius: 2px;
}

.roll-details {
  margin-top: 10px;
  text-align: center;
}