$cellWidth: 60px; // width of individual cells
$quadrantHeight: 300px; // length of the square area

$quadrantWidth: calc(#{$quadrantHeight} + #{$cellWidth} * 3);
$borderColor: #ddd;
$backgroundColor: #eee;
// $cellColor: #f7f7f7;

.grid {
  position: relative;
  width: calc(#{$quadrantHeight} + #{$quadrantWidth} + 2px);
  height: calc(#{$quadrantHeight} + #{$quadrantWidth} + 2px);
  border: 1px solid $borderColor;

  &__center {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: $quadrantHeight;
    left: $quadrantHeight;
    width: calc(#{$quadrantWidth} - #{$quadrantHeight});
    height: calc(#{$quadrantWidth} - #{$quadrantHeight});
    border: 1px solid $borderColor;
  }

  &__logo {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(../../assets/logo.svg);
  }

  &__title {
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
  }
}

.quadrant {
  position: absolute;
  transform-origin: 0 0;
  display: flex;

  &--red {
    transform: translateY($quadrantWidth);
    outline: red solid 2px;
    outline-offset: 2px;
    z-index: 1;
    .quadrant__home, .quadrant__cell--home { background-color: #e74c3ccc; }
  }
  &--blue {
    transform: translate($quadrantWidth, calc(#{$quadrantHeight} + #{$quadrantWidth})) rotate(270deg);
    .quadrant__home, .quadrant__cell--home { background-color: #3498dbcc; }
  }
  &--yellow {
    transform: translate(calc(#{$quadrantHeight} + #{$quadrantWidth}), $quadrantHeight) rotate(180deg);
    .quadrant__home, .quadrant__cell--home { background-color: #f1c40fcc; }
  }
  &--green {
    transform: translateX($quadrantHeight) rotate(90deg);
    .quadrant__home, .quadrant__cell--home { background-color: #27ae60cc; }
  }

  &__home {
    position: relative;
    width: $quadrantHeight;
    height: $quadrantHeight;
    border: 1px solid $borderColor;
    background-color: $backgroundColor;
  }

  // for showing player name
  &__home-label {
    position: absolute;
  }

  // 4 cells inside each quadrant (initial positions for coins)
  $homeCellSide: 60px;
  $gap: 30px;
  &__home-cell {
    position: absolute;
    left: 50%;
    width: $homeCellSide;
    height: $homeCellSide;
    background-color: #fff;
    // transform: rotate(20deg);
    animation: spin 30s linear infinite;
    &:nth-of-type(1) {
      top: calc(50% - #{$homeCellSide} - #{$gap} / 2);
      left: calc(50% - #{$homeCellSide} - #{$gap} / 2);
    }
    &:nth-of-type(2) {
      top: calc(50% - #{$homeCellSide} - #{$gap} / 2);
      left: calc(50% + #{$gap} / 2);
    }
    &:nth-of-type(3) {
      top: calc(50% + #{$gap} / 2);
      left: calc(50% - #{$homeCellSide} - #{$gap} / 2);
    }
    &:nth-of-type(4) {
      top: calc(50% + #{$gap} / 2);
      left: calc(50% + #{$gap} / 2);
    }
  }

  &__rows {
    display: flex;
  }

  &__cell {
    width: $cellWidth;
    height: calc(#{$quadrantHeight} / 6);
    border: 1px solid $borderColor;
    line-height: calc(#{$quadrantHeight} / 6);
    color: #0002;
    text-align: center;
    // background-color: $cellColor;

    &--safe {
      &::after {
        content: '';
        position: relative;
        top: calc(-#{$quadrantHeight} / 6 + 7px);
        display: inline-block;
        box-sizing: border-box;
        width: calc(#{$quadrantHeight} / 6 - 16px);
        height: calc(#{$quadrantHeight} / 6 - 16px);
        border: 5px solid #0004;
        border-radius: 50%;
      }
    }
  }
}

@keyframes spin {
  from { transform: rotate(20deg); }
  to { transform: rotate(380deg); }
}