$cellWidth: 26px; // width of individual cells
$quadrantHeight: calc((355px - #{$cellWidth} * 3) / 2); // length of the square area

$quadrantWidth: calc(#{$quadrantHeight} + #{$cellWidth} * 3);
$borderColor: #777;
$backgroundColor: #eee;

.grid {
  position: relative;
  width: calc(#{$quadrantHeight} + #{$quadrantWidth} + 2px);
  height: calc(#{$quadrantHeight} + #{$quadrantWidth} + 2px);
  margin: 0 auto;
  border: 1px solid $borderColor;

  &__center {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: $quadrantHeight;
    left: $quadrantHeight;
    width: calc(#{$quadrantWidth} - #{$quadrantHeight});
    height: calc(#{$quadrantWidth} - #{$quadrantHeight});
  }

  &__logo {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../../assets/logo.svg);
  }

  &__title {
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
  }
}

.quadrant {
  position: absolute;
  transform-origin: 0 0;
  display: flex;

  &--red {
    transform: translateY($quadrantWidth);
    // outline: red solid 2px;
    // outline-offset: 2px;
    z-index: 1;
    .quadrant__home, .quadrant__cell--home, .quadrant__cell--end { background-color: #e74c3ccc; }
  }
  &--blue {
    transform: translate($quadrantWidth, calc(#{$quadrantHeight} + #{$quadrantWidth})) rotate(270deg);
    .quadrant__home, .quadrant__cell--home, .quadrant__cell--end { background-color: #3498dbcc; }
  }
  &--yellow {
    transform: translate(calc(#{$quadrantHeight} + #{$quadrantWidth}), $quadrantHeight) rotate(180deg);
    .quadrant__home, .quadrant__cell--home, .quadrant__cell--end { background-color: #f1c40fcc; }
  }
  &--green {
    transform: translateX($quadrantHeight) rotate(90deg);
    .quadrant__home, .quadrant__cell--home, .quadrant__cell--end { background-color: #27ae60cc; }
  }

  &__home {
    position: relative;
    width: $quadrantHeight;
    height: $quadrantHeight;
    border-top: 1px solid $borderColor;
    border-right: 1px solid $borderColor;
    background-color: $backgroundColor;
  }

  // for showing player name
  &__home-label {
    position: absolute;
  }

  // 4 cells inside each quadrant (initial positions for coins)
  $homeCellSide: 28px;
  $gap: 30px;
  &__home-cell {
    position: absolute;
    left: 50%;
    width: $homeCellSide;
    height: $homeCellSide;
    background-color: #fff;
    // transform: rotate(-20deg);
    animation: spin 30s linear infinite;
    &:nth-of-type(1) {
      top: calc(50% - #{$homeCellSide} - #{$gap} / 2);
      left: calc(50% - #{$homeCellSide} - #{$gap} / 2);
    }
    &:nth-of-type(2) {
      top: calc(50% - #{$homeCellSide} - #{$gap} / 2);
      left: calc(50% + #{$gap} / 2);
    }
    &:nth-of-type(3) {
      top: calc(50% + #{$gap} / 2);
      left: calc(50% - #{$homeCellSide} - #{$gap} / 2);
    }
    &:nth-of-type(4) {
      top: calc(50% + #{$gap} / 2);
      left: calc(50% + #{$gap} / 2);
    }
  }

  &__rows {
    display: flex;
  }

  &__row {
    &:first-of-type {
      .quadrant__cell {
        border-left: 0;
      }
    }
  }

  &__cell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $cellWidth;
    height: calc(#{$quadrantHeight} / 6);
    padding: 0 8px;
    border-top: 1px solid $borderColor;
    border-left: 1px solid $borderColor;
    font-size: 10px;
    line-height: calc(#{$quadrantHeight} / 6);
    color: #0002;
    text-align: center;

    // NOTE: Refactor & improve
    &--safe {
      background-color: #0002;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        box-sizing: border-box;
        width: calc(#{$quadrantHeight} / 6 - 16px);
        height: calc(#{$quadrantHeight} / 6 - 16px);
        border: 5px solid #0004;
        border-radius: 50%;
      }
    }

    &--end {
      position: absolute;
      right: calc(#{$cellWidth} - 5px);
      top: -22px;
      width: calc(#{$cellWidth} + 10px);
      border: 1px solid $borderColor;
    }
  }

  &__cell-container {
    position: relative;
    width: 30px;
  }

  .coin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes spin {
  from { transform: rotate(20deg); }
  to { transform: rotate(380deg); }
}